# FPGA / Vivado Standard Gitignore

# Cache and compiled artifacts
*.dcp
*.jou
*.log
*.pb
*.wdf
*.str
*.out
*.dir/
.Xil/

# Project and run directories (these should be generated via TCL scripts)
project/
vivado_run/
ha_tff_vivado/
synth/
checkpoints/

# IDE files
.vscode/

# Keep reports for public viewing!
!reports/
!charts/
